service: stripe-invoice

provider:
  name: aws
  runtime: nodejs22.x
  environment:
    STRIPE_KEY: ${env:STRIPE_KEY}

  stage: production

functions:
  retrievePlate:
    handler: index.handler
    events:
      - http:
          path: stripe-invoice
          method: post

plugins:
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3005
